/* ejemplo6.css   GRUPO 06  */
registro{
	margin: 25px 15% 25px 15%;
	background-color: lightgoldenrodyellow; 
}

br{
	display: block;
}

strong{
	font-weight: bold;
}

descripcion {
	background-color:lightsalmon;
	font-size:1cm;  
	text-align: center;
	display:block;
} 

nombre, apellido, carnet{
	color:black; 
	font-size: 35px; 
	text-align: start;
	display: block;
}

nombre{
	margin-top: 20px;
}

lista_materias{
	margin-top: 10px;
	color:black;
	font-size: 2em; 
	display:block;
	font-weight: bold;
	text-align: center;
}


materia{
	border: 3px dashed black;
	margin-top: 20px;
	display: block;
	padding: 15px;
}

materia1, materia2, materia3 {
	color:black;
	font-size:1.8em; 
	display:block;
}

codigo1, codigo2, codigo3{
	color:black;
	font-size:1.8em; 
	display:block;
}

teorico1, teorico2, teorico3 {
	color:black;
	font-size:1.8em; 
	display:block;
}

laboratorio1, laboratorio2,laboratorio3 {
	color:black;
	font-size:1.8em; 
	display:block;
}
